<div class="container">
    <div class="image">
        <img
         src="../../../assets/Kill Bill fan poster.jpg" 
         alt="Imagem do card de Destaque"
         height="300px"
         >
    </div>

    <a href="">
        <div class="card-title">
            <h1>Conheça a assassina mais perigosa das Víboras Mortais: <em>Mamba Negra</em></h1>
        </div>
    </a>

    <div class="card-description row">
        <a href="">
            <p>Após quase ser vítima de um massacre no dia do seu casamento, ela busca vingança... a todo custo</p>
        </a>
    </div>
</div>
